# Visual studio and C# things...
*.user
*.suo
bin/
Bin/
obj/
Obj/
.vs/
*.vs
*resharper*
.DS_Store
*.sassc
*.scssc
.sass-cache

packages/

# Visual Studio Code things...
.vscode/

# Python things...
__pycache__/
*.egg-info/
.pytest_cache/
