@page
@{
}
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<script src="js/signalr-client.js" asp-append-version="true"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<h1>Doorman Coming Soon!</h1>
	<h2>The time on the server is @DateTime.Now</h2>
	<h2>Room ID: <span class="x-room-id" style="color: red;font-style: italic">N/A</span></h2>
	<h2>Room Name: <span class="x-room-name" style="color: red;font-style: italic">N/A</span></h2>
	<h2>How many students are in the room <span class="x-room-counter" style="color: red;font-style: italic">N/A</span></h2>
	<script type="text/javascript">

		$(function () {

			var url = "http://doormanapi20180217051526.azurewebsites.net/doorman";
			var logger = new signalR.ConsoleLogger(signalR.LogLevel.Information);
			var doormanHub = new signalR.HttpConnection(url);
			var doormanConnection = new signalR.HubConnection(doormanHub, logger);

			doormanConnection.onClosed = e => {
			};

			doormanConnection.on('Broadcast',
				(result) => {

					$('.x-room-id').text(result.roomID);
					$('.x-room-name').text(result.roomName);
					$('.x-room-counter').text(result.occupancyCount);
				});

			doormanConnection.start({ transport: ['webSockets', 'serverSentEvents', 'longPolling'] }).catch(err => {
				console.log(err + 'connection error');
			});
		});
	</script>

</body>
</html>

