@{
    ViewData["Title"] = "Historic Occupancy";
}
@section Scripts{
    <script>
        Doorman.UI.HistoricDashboard.start($("#dashboard"));    
    </script>
}
<div class="container" id="dashboard">
    <h1>Historic Occupancy</h1>
    <div class="panel panel-title info-box" style="margin-bottom:15px;">
        <div class="panel-body">
            <h3>EMSE Room (ID:12)</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-sm-6">
            <div class="panel panel-title">
                <div class="panel-body occupancy-stats-view">
                </div>
            </div>
        </div>
        <div class="historic-date-box col-sm-6">
            <div class="panel">
                <div class="panel-body occupancy-form">
                    <label class="field">
                        <span>Start Date:</span>
                        <input type="date" class="form-control occupancy-filter-start" />
                    </label>
                    <label class="field">
                        <span>End Date:</span>
                        <input type="date" class="form-control occupancy-filter-end" />
                    </label>
                    <div class="btn btn-success occupancy-filter-btn">Filter</div>
                </div>
            </div>
        </div>
    </div>
    <div class="historic-chart-box row">
        <div class="col-sm-12">
            <div class="occupancy-chart"></div>
        </div>
    </div>
</div>