@{
    ViewData["Title"] = "Real-time Occupancy";
}
@section Scripts{
    <script>
        Doorman.UI.RealTimeDashboard.start($("#dashboard"));    
    </script>
}
<div class="container doorman-dashboard" id="dashboard">
    <h1 style="margin:10px;">Real-time Occupancy</h1>
    <div class="panel panel-title info-box">
        <div class="panel-body">
            <h3>EMSE Room (ID:12)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-title info-box">
                <div class="panel-body">
                    <h3>Current Occupancy:</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel panel-title info-box">
                <div class="panel-body">
                    <h3 class="occupancy-count"></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-title info-box">
                <div class="panel-body">
                    <h3 class="occupancy-time"></h3>
                </div>
            </div>
        </div>
    </div>
    <div id="realtime-chart"></div>
</div>