@{
    ViewData["Title"] = "Real-time Occupancy";
}
@section Scripts{
    <script>
        Doorman.UI.RealTimeDashboard.start({
            roomId: 0,
            element: $("#dashboard")
        });    
    </script>
}
<div class="container doorman-dashboard" id="dashboard">
    <div class="dashboard-body"></div>
    <div class="dashboard-chart"></div>
</div>