<div>
    <span class="data-label">Occupancy Average:</span>
    <span class="data-general">{{ average }}</span>
</div>
<div>
    <span class="data-label">Occupancy StdDev:</span>
    <span class="data-general">{{ stdev }}</span>
</div>
<div>
    <span class="data-label">Max Occupancy:</span>
    <span class="data-general">{{ max }}</span>
</div>
<div>
    <span class="data-label">Max Occupancy Date:</span>
    <span class="data-general">{{ maxDate }}</span>
</div>
<div>
    <span class="data-label">Peak Weekday:</span>
    <span class="data-general">{{ peakWeekday }}</span>
</div>
<div>
    <span class="data-label">Peak Time:</span>
    <span class="data-general">{{ peakTime }}</span>
</div>