<h1>Real-time Occupancy</h1>
<div class="panel">
    <div class="panel-body">
        <h3>{{ room }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <h3>Current Occupancy:</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel info-box">
            <div class="panel-body">
                <h3 class="occupancy-count">{{ count }}</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="occupancy-time">{{ timestamp }}</h3>
            </div>
        </div>
    </div>
</div>