@{
    ViewBag.Title = "Real-time Occupancy";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>

<style>
    .info-box {
        margin: 0 0 15px;
        text-align: center;
    }
</style>
<script src="~/Scripts/realtime/realtimejs.js?v=11"></script>
<h1 style="margin:10px;">Real-time Occupancy</h1>
<div class="panel panel-title info-box">
    <div class="panel-body">
        <h3>EMSE Room (ID:12)</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-title info-box">
            <div class="panel-body">
                <h3>Current Occupancy:</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-title info-box">
            <div class="panel-body">
                <h3 class="occupancy-size"></h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-title info-box">
            <div class="panel-body">
                <h3 class="occupancy-time"></h3>
            </div>
        </div>
    </div>
</div>
<div id="realtime-chart"></div>